<template>
	<div id="cesiumContainer"></div>
</template>

<script>
	import { 
		Cartesian3,
		Cartographic,
		Cesium3DTileset, 
		createWorldTerrain, 
		IonResource, 
		Matrix4,
		Viewer, 
		viewerCesiumNavigationMixin
	} from 'cesium';
	import "cesium/Build/Cesium/Widgets/widgets.css";
// import "./css/main.css";

export default {
	name: 'CesiumViewer',
	props: {
		msg: String
	},
	mounted: () => {
		var viewer = new Viewer('cesiumContainer', {
			homeButton: false,
			timeline: false,
			animation: false,
			fullscreenButton: false,
			sceneModePicker: false,
			selectionIndicator: false,
			infoBox: false,
			navigationHelpButton: false,
			geocoder: false,
			scene3DOnly: true,
			selectionIndicator: false,
			skyBox : false,
			imageryProvider: false,
    		// baseLayerPicker: false,
		});

		// Load Tileset for the Free-standing reservoir
		var tileset = new Cesium3DTileset({
			url: 'https://techtest.trendspek.app/datasets/2018-09-21/3d-tiles/FINAL.json',
			dynamicScreenSpaceError : true,
			maximumScreenSpaceError: 1 // Lowering this number increases the detail
		});



		tileset.readyPromise.then(function (tileset) {

			// Boilerplate code to move the tileset up so it lines up with the globe
			let tileset_offset = 40.0;
			let cartographic = Cartographic.fromCartesian(tileset.boundingSphere.center);
			let surface = Cartesian3.fromRadians(cartographic.longitude, cartographic.latitude, 0.0);
			let offset = Cartesian3.fromRadians(cartographic.longitude, cartographic.latitude, tileset_offset);
			let translation = Cartesian3.subtract(offset, surface, new Cartesian3());
			tileset.modelMatrix = Matrix4.fromTranslation(translation);

			viewer.scene.primitives.add(tileset);
			viewer.zoomTo(tileset);
		});

	}
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

div#cesiumContainer {
	height: 600px;
	width: 800px;
}

</style>
